<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
    <th:block layout:fragment="content">
        <script type="text/javascript">
            $(document).ready(()=>{
                $('#btnReg').on('click',()=>{
                   fn_addBoard();
                });
            })

            function fn_addBoard(){
                $.ajax({
                    url:'/board',
                    type:'post',
                    error:(msg)=>{
                        alert(msg);
                    },
                    success:(result)=>{

                    }
                });
            }
        </script>
        <div class="card mb-4">
            <form onsubmit="return false">
                <table>
                    <tr>
                        <th>제목</th>
                        <td><input type="text" id="title" name="title" /></td>
                    </tr>
                </table>
                <div class="float-end">
                    <span id="btnReg" class="btn btn-sm btn-primary">등록</span>
                </div>
            </form>
        </div>
    </th:block>
</html>