<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
    <th:block layout:fragment="content">
        <script th:inline="javascript">
            $(document).ready(function(){
                $('#sendMsg').keydown((key)=>{
                    if(key.keyCode == 13){
                        fn_sendMsg();
                    }
                })
                $('#btnMangerChat').on('click',()=>{
                    $('#btnMangerChat').prop('disabled',true);
                    $('#btnMangerChat').children().removeClass('d-none');
                    fn_managerChat();
                })
            })

            const userName = [[${#authentication.principal.username}]];
            let ws;
            let userStompClient;

            //채팅요청
            function fn_managerChat(){
                if(ws == null ){
                    ws = new SockJS("/stomp/chat");
                    userStompClient = Stomp.over(ws);
                    userStompClient.connect({}, ()=>{
                        userStompClient.subscribe('/queue/'+userName,(frame)=>{
                            const info = JSON.parse(frame.body);
                            fn_chatMessage(info);
                        })
                        userStompClient.send('/topic/admin',{},JSON.stringify({sender:userName}));
                    });
                }
                ws.close = function() {
                    const msg = {
                        type: 'MESSAGE',
                        sender : userName,
                        message : 'DISCONNECT',
                        roomId : userName
                    }
                    userStompClient.send('/app/'+userName,{},JSON.stringify(msg));
                }
            }

            function fn_chatMessage(info){
                $('#btnMangerChat').css('display','none')
                $('#chatContent').removeClass('d-none');

                const msgForm = [];
                const date = new Date(info.timestamp);
                if(info.type == 'ENTER'){
                    msgForm.push("<div class='chat-enter-box mb-3'>"+info.message+"</div>");
                }else if(info.sender == userName){
                    $('#sendMsg').val('');

                    msgForm.push("<ul class='text-right'>");
                    msgForm.push("  <li>");
                    msgForm.push(       "<span class='chat-date'>"+date.getHours() +":"+date.getMinutes()+"</span>");
                    msgForm.push(       "<span class='chat-msg-box chat-yellow'>"+ info.message.replace(/\n/g,'<br/>') +"</span>");
                    msgForm.push("  </li>");
                    msgForm.push("</ul>");
                }else{
                    msgForm.push("<ul>");
                    msgForm.push("  <li class='chat-username'>"+ info.sender +"</li>");
                    msgForm.push("  <li>");
                    msgForm.push(       "<span class='chat-msg-box bg-white'>"+ info.message.replace(/\n/g,'<br/>') +"</span>");
                    msgForm.push(       "<span class='chat-date'>"+date.getHours() +":"+date.getMinutes()+"</span>");
                    msgForm.push("  </li>");
                    msgForm.push("</ul>");
                }

                $('#msgArea').append(msgForm.join(''));
            }

            function fn_sendMsg(){
                if($('#sendMsg').val() != "" ){
                    const msg = {
                        type: 'MESSAGE',
                        sender : userName,
                        message : $('#sendMsg').val(),
                        roomId : userName
                    }
                    userStompClient.send('/app/'+userName,{},JSON.stringify(msg));
                }
            }
        </script>
        <button id="btnMangerChat"class="btn btn-primary btn-sm">
            관리자 채팅 요청
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        </button>
        <div id="chatContent" class="p-3 col-md-4 chat-blue d-none">
            <table class="w-100">
                <tr>
                    <td>
                        <div class="msg-area" id="msgArea" name="msgArea"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <textarea class="form-control" type="text" id="sendMsg" name="sendMsg" placeholder="메세지를 입력하세요."></textarea>
                            <button class="chat-yellow btn btn-sm float-end" onclick="fn_sendMsg()">
                                전송
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </th:block>
</html>