<!DOCTYPE html>
import {hi} from '/js/storage.js'
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
    <th:block layout:fragment="content">
        <script th:inline="javascript">
            const userName = [[${#authentication.principal.username}]];
            const ws = new SockJS("/stomp/chat");
            const stompClient = Stomp.over(ws);
            const chatList = new Set();

            stompClient.connect({},function(){
                stompClient.subscribe('/topic/admin',(frame)=>{
                    const info = JSON.parse(frame.body);
                    const _html = [];
                    if(!chatList.has(info.sender)){
                        chatList.add(info.sender);
                        _html.push('<div>'+info.sender+'</div>');
                        _html.push('<button onclick="chatSubscribe(\''+info.sender+'\')">수락</button>');
                        $('#chatArea').append(_html.join(''));
                    }
                });
            });

            function chatSubscribe(id){
                stompClient.subscribe('/queue/'+id,(frame)=>{
                    const info = JSON.parse(frame.body);
                    const _html = [];
                    $('#chatContent').append(info.message+'<br>');
                });
                stompClient.send('/app/js/register',{},JSON.stringify({sender:userName,type:'ENTER'}));
            }
        </script>
        <ul id="chatArea">

        </ul>
        <div id="chatContent"></div>
    </th:block>
</html>