<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
            <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.js}"></script>
            <script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.js}"></script>
            <script th:src="@{/js/common.js}" ></script>
            <script th:src="@{/theme/js/scripts.js}" ></script>

            <link th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" rel="stylesheet">
            <link th:href="@{/webjars/font-awesome/5.15.3/css/all.min.css}" rel="stylesheet">
            <link th:href="@{/css/common.css}" rel="stylesheet">
            <link th:href="@{/theme/css/styles.css}" rel="stylesheet">
            <title>Study Project</title>
        </head>
    </th:block>
</html>
