<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="leftFragment">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">메뉴</div>
                        <a th:classappend="${currentPage eq 'chat'} ? 'active' : '' " class="nav-link" href="/chat/index">
                            <div class="sb-nav-link-icon active"><i class="fas fa-comments"></i></div>
                            채팅
                        </a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${currentPage eq 'chatList'} ? 'active' : '' " class="nav-link" href="/chat/list">
                            <div class="sb-nav-link-icon active"><i class="fas fa-comments"></i></div>
                            채팅 리스트
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </th:block>
</html>