<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <form th:action="@{/signup}" th:method="post">
            <table>
                <tr>
                    <th>이름</th>
                    <td><input type="text" id="userName" name="userName"/></td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td><input type="text" id="userId" name="userId"/></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td><input type="password" id="password" name="password"/></td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td><input type="password" id="passwordConfirm" name="passwordConfirm"/></td>
                </tr>
            </table>
            <button>가입신청</button>
        </form>
</html>